@model StationeryManagementSystem.Models.Employees
@{
    ViewData["Title"] = "ChangePassword";
}

<section class="content" style="padding-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Change password</h3>
                    </div>

                    <form asp-action="ChangePassword" asp-controller="Employee" method="POST">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> Id Employee</label>
                                <input type="text" asp-for="Idemployee" class="form-control" id="exampleInputEmail1" readonly>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> Name Employee</label>
                                <input type="text" asp-for="NameEmployee" class="form-control" id="exampleInputEmail1" readonly>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> Email Id</label>
                                <input type="text" asp-for="EmailId" class="form-control" id="exampleInputEmail1" readonly>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> Current password</label>
                                <input type="text" asp-for="Password" class="form-control" readonly>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> A new password</label>
                                <input type="password" name="NewPassword" class="form-control" placeholder="Enter a new password">
                                <b class="text-danger">@ViewBag.ErrorPass</b>
                            </div>
                        </div>     
                        
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>

                            <a asp-controller="Employee" asp-action="Index" class="btn btn-primary float-right">Go to list</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

