@model StationeryManagementSystem.Models.ViewModels.StationeriesViewModel
@{
    ViewData["Title"] = "Edit";
}

<section class="content" style="padding-top: 20px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Stationery</h3>
                    </div>

                    <form asp-action="Edit" asp-controller="Stationery" method="POST" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> Id Stationery</label>
                                <input type="text" asp-for="Idstationerie" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1"> Name Stationery</label>
                                <input type="text" asp-for="NameStationerie" class="form-control" id="exampleInputEmail1" placeholder="Enter name stationery">
                                <span asp-validation-for="NameStationerie" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> Unit Of Measure</label>
                                <input type="text" asp-for="UnitOfMeasure" class="form-control" id="exampleInputEmail1" placeholder="Enter unit of measure">
                                <span asp-validation-for="UnitOfMeasure" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> Price</label>
                                <input type="number" class="form-control" asp-for="Price">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> Image</label>
                                <br>
                                <img src="~/stationeries/@Model.Image" width="20%">
                                <input type="file" class="form-control-file" name="Images" id="exampleFormControlFile1">
                                <input type="hidden" class="form-control-file" asp-for="Image" value="@Model.Image" id="exampleFormControlFile1">

                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Status</label>
                                <br>
                                <input type="radio" asp-for="Status" value="1" checked>Show
                                <input type="radio" asp-for="Status" value="0">Hidden
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>

                            <a asp-controller="Stationery" asp-action="Index" class="btn btn-primary float-right">Go to list</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



